<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>StartPageServlet</servlet-name>
    <servlet-class>servlet.StartPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GuestServlet</servlet-name>
    <servlet-class>servlet.GuestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>servlet.SignInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EasyServlet</servlet-name>
    <servlet-class>servlet.EasyServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>MediumServlet</servlet-name>
    <servlet-class>servlet.MediumServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HardServlet</servlet-name>
    <servlet-class>servlet.HardServlet</servlet-class>
  </servlet>
  
  <!-- AJAX servlets. -->


  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>StartPageServlet</servlet-name>
    <url-pattern>/startPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GuestServlet</servlet-name>
    <url-pattern>/guest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EasyServlet</servlet-name>
    <url-pattern>/easy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MediumServlet</servlet-name>
    <url-pattern>/medium</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HardServlet</servlet-name>
    <url-pattern>/hard</url-pattern>
  </servlet-mapping>
  
  <!--  AJAX servlet mappings. -->

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
